<%- include('includes/head.ejs') %>

<div class="container">
    <table style="display: flex; justify-content: center;">
        <tbody>
            <tr>
                <td><img src="/Img/Jeep1.jpg" alt="Jeep Wrangler Unlimited Rubicon"></td>
                <td><img src="/Img/Jeep3.jpg" alt="Jeep Wrangler Rubicon"></td>
            </tr>
            <tr>
                <td><img src="/Img/Jeep4.jpg" alt="Jeep Wrangler Rubicon"></td>
                <td><img src="/Img/Jeep2.jpg" alt="Jeep Wrangler Unlimited Rubicon"></td>
            </tr>
        </tbody>
    </table>
    
    <h2 style="display: flex; justify-content: center;">Capacidad y desempeño</h2>
    <table style="display: flex; justify-content: center;" class="highlight">
        <tbody>
            <tr>
                <td>Motor:</td>
                <td>3.6L V6 24V VVT eTorque Mild Hybrid con
                    sistema Start & Stop</td>
            </tr>
            <tr>
                <td>Potencia:</td>
                <td>285 HP</td>
            </tr>
            <tr>
                <td>Torque:</td>
                <td>260 lbft</td>
            </tr>
            <tr>
                <td>Transmisión:</td>
                <td>Automática de 8 velocidades</td>
            </tr>
            <tr>
                <td>Capacidad de pasajeros:</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Tracción:</td>
                <td>4x4</td>
            </tr>
            <tr>
                <td>Tanque de gasolina (L):</td>
                <td>66.2 (Rubicon) 81.9 (Unlimited Rubicon)</td>
            </tr>
            <tr>
                <td>Número de puertas:</td>
                <td>2 (Rubicon) 4 (Unlimited Rubicon)</td>
            </tr>
        </tbody>
    </table>
    <br><br>
</div>

<%- include('includes/foot.ejs') %>