<%- include('includes/head.ejs') %>

<div class="container">
    <h1>Preguntas:</h1>
    <ul>
        <li>¿Qué otros templating engines existen para node?
            <ul>
                <li>Mongo DB, MySQL, PostgreSQL, Redis</li>
            </ul>
        </li>
    </ul>
    <br><br>
</div>

<%- include('includes/foot.ejs') %>