</main>

<footer class="page-footer #ffeb3b yellow">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <img class="logo" src="/Img/JeepLogo1.png">
            </div>
            <div class="col">
                <h5 class="black-text">Conocer</h5>
                <ul>
                    <li><a class="black-text text-lighten-3" href="/autos/">Inicio</a></li>
                    <li><a class="black-text text-lighten-3" href="/autos/preguntas">Preguntas</a></li>
                    <li><a class="black-text text-lighten-3" href="/autos/configurar">Configurar</a></li>
                </ul>
            </div>
            <div class="col">
                <h5 class="black-text">Autor</h5>
                <ul>
                    <li class="black-text">José Emiliano Riosmena Castañón</li>
                    <li class="black-text">A01704245</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>

</html>